/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700|Poppins:300,400,500,600,700&display=swap');

/* VARIABLES */

:root {
    --light-blue: rgba(88, 201, 233, 1);
    --medium-blue: rgba(56, 83, 216, 1);
    --dark-blue: rgb(5, 20, 48);

    --light-grey: rgb(225, 225, 225);
    --medium-grey: rgb(150, 150, 150);
    --dark-grey: rgba(35, 35, 35, 1);

    --off-white: rgba(247, 247, 247, 1);
    --shop-border: 0.75px solid var(--light-grey);
}

/* GENERAL */

body,
html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    color: var(--dark-blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {}

/* Buttons */


/* Navigation */

/* Footer */

footer {
    background-color: var(--dark-grey);
    padding: 3rem 0 1rem 0;
    color: var(--medium-grey);
}

.footer-text h4 {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--off-white);
}

.footer-text p {
    font-size: 300;
    font-size: 0.8rem;
}

.footer-text span {
    font-size: 300;
    font-size: 0.7rem;
    color: var(--medium-grey);
    margin: 0;
    display: block;
}

.footer-text span a {
    text-decoration: none;
    color: var(--light-grey);
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.footer-text span a:hover {
    color: var(--light-blue);
}

footer h6 {
    color: var(--off-white);
    font-family: "Oswald";
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 1rem;
}

footer ul {
    padding: 0;
    padding-top: 1rem;
    list-style: none;
}

footer li {
    font-weight: 400;
    font-size: 0.8rem;
    margin: 0.5rem 0;
}

footer a {
    color: var(--medium-grey);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

footer a:hover {
    text-decoration: none;
    color: var(--light-blue);
}

.footer-contact .divider {
    width: 80%;
    height: 1px;
    background-color: var(--medium-grey);
}

.footer-social {
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

.footer-social a {
    margin-right: 0.75rem;
}

/* Scrollbars */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: var(--dark-blue);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--light-blue);
}




/* -------------------------------------- */

/* PAGES */

/* -------------------------------------- */

/* HOME PAGE */





/* -------------------------------------- */


/* SHOP PAGE */

/* General */

.section-shop {
    margin-top: 5rem;
    padding-bottom: 2rem;
}

.shop-container {
    -webkit-box-shadow: 2px 0px 30px 15px rgba(35, 35, 35, 0.15);
    -moz-box-shadow: 2px 0px 30px 15px rgba(35, 35, 35, 0.15);
    box-shadow: 2px 0px 30px 15px rgba(35, 35, 35, 0.15);
}

/* Settings */
.shop-settings>div>div {
    border-bottom: var(--shop-border);
    border-right: var(--shop-border);
    display: flex;
    align-items: center;
}

#shop-settings-filter {
    justify-content: space-between;
    padding-right: 0;
}

#shop-settings-filter h5 {
    margin: 0;
    font-size: 1.1rem;
}

#shop-settings-filter i {
    border-left: var(--shop-border);
    cursor: pointer;
    padding: 1.5rem;
    color: var(--medium-blue);
}

#shop-settings-sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#shop-settings-sort p {
    margin: 0;
}

#shop-settings-sort-dropdown {
    background-color: white;
    position: absolute;
    margin-top: 4rem;
    z-index: 10;
    height: 0;
    overflow: hidden;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
}

#shop-settings-sort-dropdown ul {
    padding: 1rem;
    list-style: none;
}

#shop-settings-sort-dropdown ul li {
    margin: 0.5rem 0;
    cursor: pointer;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    font-size: 0.9rem;
}

#shop-settings-sort-dropdown ul li:hover {
    color: var(--light-blue);
}

#shop-settings-sort-dropdown.open {
    height: auto;
    border-top: var(--shop-border);
}


/* Filters */
.shop-filter {
    border-right: var(--shop-border);
    padding: 0;
}



.card {
    border: none;
    border-bottom: 1px solid var(--light-grey) !important;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.card-header {
    background-color: transparent;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.card-header h6 {
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 500;
}

.card-header h6 i {
    margin-right: 10px;
}

.card-header>i {
    font-size: 0.9rem;
    color: var(--medium-grey);
    cursor: pointer;
}

.card-filter-categories ul,
.card-filter-size ul {
    padding: 0;
    list-style: none;
    padding-left: 1.5rem;
}

.card-filter-categories li,
.card-filter-size li {
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0;
    font-size: 0.9rem;
    align-items: center;
}

.card-filter-categories li p,
.card-filter-size p {
    margin: 0;
    cursor: pointer;
    transition: 0.3a ease;
    -webkit-transition: 0.3a ease;
    -moz-transition: 0.3a ease;
    -ms-transition: 0.3a ease;
    -o-transition: 0.3a ease;
}

.card-filter-categories li p:hover,
.card-filter-size p:hover {
    color: var(--light-blue);
}

.card-filter-categories li span,
.card-filter-size li span {
    color: var(--medium-grey);
    font-size: 0.8rem;
}

.card-filter-size .custom-check {
    border: 1px solid var(--light-grey);
    width: 1.1rem;
    height: 1.1rem;
    position: relative;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    cursor: pointer;
}


.card-filter-size .custom-check i {
    font-size: 0.6rem;
    padding: 0.2rem;
    color: var(--light-blue);
    position: absolute;
    display: none;
}





/* Product */
.shop-product {
    border-bottom: var(--shop-border);
    border-right: var(--shop-border);
    padding: 1rem;
    cursor: pointer;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
}

.shop-product:hover {
    /* border: 1px solid vqar(--light-blue); */
}

.shop-product-name {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    font-family: "Oswald";
}

.shop-product-price {
    color: var(--light-blue);
    font-weight: 500;
    font-size: 0.9rem;
    margin-bottom: 0;
}

.shop-product-image {
    display: block;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 0.5rem;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
}

.shop-product:hover .shop-product-image {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}






/* ----------------------------------- */


/* PRODUCT PAGE */

/* General */

.section-product {
    margin-top: 5rem;
    padding-bottom: 2rem;
}

.product-container {
    -webkit-box-shadow: 2px 0px 30px 15px rgba(35, 35, 35, 0.15);
    -moz-box-shadow: 2px 0px 30px 15px rgba(35, 35, 35, 0.15);
    box-shadow: 2px 0px 30px 15px rgba(35, 35, 35, 0.15);
}

/* Product */

.product-info {
    padding: 4rem 2rem 2rem 4rem;
    display: flex;
    flex-direction: column;
}

.product-image img {
    height: 90%;
    display: block;
    margin: 0 auto;
}

.product-category {
    text-transform: uppercase;
    color: var(--light-blue);
    margin: 0.5rem 0;
    letter-spacing: 1px;
    font-size: 0.8rem;
}

.product-name {
    font-family: "Oswald";
    font-weight: 500;
    letter-spacing: 0.25px;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.product-label {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0.5rem 0;
    letter-spacing: 1px;
}

.product-description {
    color: var(--medium-grey);
    font-size: 0.9rem;
    font-weight: 300;
}

.product-sizes span {
    color: var(--medium-grey);
    margin-right: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.product-sizes span:hover {
    color: var(--dark-blue);
}

.product-sizes span.active {
    color: var(--light-blue);
}

.product-price {
    margin: 1rem 0;
    font-size: 1.25rem;
    font-weight: 500;
    display: inline-block;
    border-left: 3px solid var(--light-blue);
    padding-left: 0.5rem;
}

.product-add-cart {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.product-quant {
    border: 1px solid var(--medium-grey);
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    display: flex;
    align-items: center;
}

.product-quant span {
    margin: 0 0.5rem;
    width: 2rem;
    text-align: center;
    font-weight: 600;
    font-size: 0.95rem;
    display: inline-block;
}

.product-quant i {
    color: var(--medium-grey);
    cursor: pointer;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}


.product-quant i:hover {
    color: var(--light-blue);
}

.product-cart-button {
    cursor: pointer;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    padding: 0.5rem 1.5rem;
    background-color: var(--dark-blue);
    border: none;
    color: white;
    font-size: 0.9rem;
    margin-left: 2rem;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.product-cart-button i {
    margin-right: 0.5rem;
}

.product-cart-button:hover {
    background-color: var(--light-blue);
}