/* VARIABLES */

:root {
    --light-blue: rgba(88, 201, 233, 1);
    --medium-blue: rgba(56, 83, 216, 1);
    --dark-blue: rgb(5, 20, 48);

    --light-grey: rgb(225, 225, 225);
    --medium-grey: rgb(150, 150, 150);
    --dark-grey: rgba(35, 35, 35, 1);

    --off-white: rgba(247, 247, 247, 1);
    --shop-border: 0.75px solid var(--light-grey);
    --container-show: 2px 0px 30px 15px rgba(35, 35, 35, 0.15);
}

@media screen and (max-width:991px) {
    .nav-menu.open {
        width: 30vw;
    }
}

@media screen and (max-width:768px) {
    .nav-menu.open {
        width: 40vw;
    }
}



@media screen and (max-width:576px) {
    .nav-menu.open {
        width: 55vw;
    }
}